* {
	margin: 0;
	padding: 0;
	font-family: "Kaushan Script", cursive;
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
	text-overflow: ellipsis;
}

/* for Home page */
.banner {
	border: 2px solid white;
	height: 100vh;
	background: url(images/Hero.jpg);
	background-size: cover;
	background-position: 60% 80%;
	text-align: center;
	/* min-height: 812px; */
}
.banner > h1 {
	font-size: 44px;
	font-family: "Kaushan Script", cursive;
	color: white;
	margin: 80px auto 20px auto;
}

.banner > p {
	font-size: small;
	width: 50%;
	margin: 10px auto 20px auto;
}
.banner-btn a {
	display: block;
	text-decoration: none;
	color: white;
	font-family: "Kaushan Script", cursive;
	/* border: 2px solid black; */
	width: 35%;
	margin: 5px auto 5px auto;
	border-radius: 5px;
	min-width: 35px;
	font-size: 20px;
	transition: width 0.5s;
	text-transform: capitalize;
}
.banner-btn a:hover {
	color: white;
	width: 36%;
	background: black;
}

/* Navbar */
.nav {
	position: fixed;
	display: flex;
	justify-content: space-between;
	width: 95%;
	margin: 10px;
}
.logo {
	display: block;
	height: 40px;
	font-size: 25px;
	border-radius: 10px;
}
.menu-btn {
	margin: 5px;
	font-size: 25px;
}

/* Experience page*/
.exp {
	/* border: 1px solid tomato; */
	/* background-color: #efefef; */
	/* height: 100vh; */
	/* border: 1px solid pink; */
}

.title-exp {
	/* border: 2px solid blanchedalmond; */
	text-align: center;
	padding: 20px;
}
.title-exp > p {
	margin: 20px;
	font-size: 40px;
	font-family: "Kaushan Script", cursive;
}

.exp-box {
	width: 80%;
	margin: auto;
}
hr {
	width: 40%;
	margin: auto;
	border: 2px solid grey;
}

.exp-desc {
	/* border: 1px solid black; */
	/* flex-basis: 50%;  */
	margin-bottom: 20px;
}
.exp-image {
	/* border: 5px solid green; */
	/* flex-basis: 50%; */
}
.card-title {
	display: flex;
	justify-content: space-between;
	/* border: 1px solid gold; */
	margin: 5px;
	padding: 5px;
}
.card-title > h4 {
	padding-top: 10px;
}
.card-content {
	display: flex;
	margin-bottom: 20px;
	/* border: 5px solid green; */
	/* justify-content: space-between; */
}
.card-content > img {
	/* display: block; */
	width: 60px;
	height: 60px;
	border: 1px solid black;
	border-radius: 10px;
	margin: auto 5px;
}
.card-content > p {
	padding: 0 20px;
	/* text-align: left; */
	/* border: 1px solid gold; */
	display: block;
}

/* .exp-image img {
	width: 80%;
} */
.resume {
	/* border: 1px solid green; */
	display: block;
	margin: 40px auto;
	border-radius: 10px;
	background-color: #efefef;
}
.resume a {
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
	color: black;
}

/* projects */
.projects-box {
	background-color: #efefef;
	padding: 2px;
	margin: auto;
}

.project-container {
	border: 2px solid black;
	padding: 2px;
	width: 80%;
	margin: 25px auto;
	border-radius: 10px;
	transition: width 0.5s;
	/* background-color:rgba(red, green, blue, alpha); */
}
.project-container:hover {
	width: 82%;
}

.project-title {
	border-bottom: 2px solid black;
	padding: 2px;
	text-align: center;
}
.project-img img {
	/* border: 3px solid black; */
	width: 100%;
	padding: 2px;
}
.project-desc {
	display: flex;
	border-top: 2px solid black;
	padding: 5px;
}
.project-nav {
	display: flex;
	flex-direction: column;
	order: 2;
	/* border: 3px solid tomato; */
}
.project-nav > a {
	text-decoration: none;
	text-align: center;
	padding: 5px;
	border: 2px solid black;
	color: black;
	font-size: 20px;
	border-radius: 10px;
	margin: 5px;
}
.project-content {
	/* border: 5px solid pink; */
	padding: 15px;
	order: 1;
}
/* Reference */
#reference {
	width: 100%;
	padding: 70px 0;
}

.reference-row {
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
.reference-col {
	flex-basis: 28%;
	padding: 10px;
	margin-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0 10px 20px 3px #7678c5;
	cursor: pointer;
	transition: transform 0.5s;
}
.reference-col p {
	font-size: 14px;
}
.user {
	display: flex;
	margin: 20px 0;
	align-items: center;
}

.user img {
	width: 40px;
	margin-right: 20px;
	border-radius: 3px;
}
.user-info small {
	color: #7678c5;
}

.reference-col:hover {
	transform: translateY(-15px);
}
@media screen and (max-width: 770px) {
	.reference-col {
		flex-basis: 100%;
	}
}

/* modal */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: grid;
	place-items: center;
	transition: all 0.3s linear;
	visibility: hidden;
	z-index: -1;
}
/* OPEN/CLOSE MODAL */
.show-modal {
	visibility: visible;
	z-index: 10;
}
.modal-container {
	background: #fff;
	border-radius: 0.25rem;
	width: 90vw;
	height: 90vh;
	max-width: 620px;
	/* text-align: center;
	display: grid;
	place-items: center; */
	position: relative;
	display: flex;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.modal-container > img {
	width: 95%;
}

.close-modal-btn {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 2rem;
	background: transparent;
	border-color: transparent;
	color: red;
	cursor: pointer;
}
